<h1>Editing registration</h1>

<% form_for(@registration) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :one_line_abstract %><br />
    <%= f.text_area :one_line_abstract %>
  </p>
  <p>
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no %>
  </p>
  <p>
    <%= f.label :mode_of_reach %><br />
    <%= f.text_field :mode_of_reach %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @registration %> |
<%= link_to 'Back', registrations_path %>
