<% form_for(@registration) do |f| %>
  <%= f.error_messages %>

  <p>
    <h3>First Name *</h3>
    <%= f.text_field :name %>
  </p>
  <p>
   <h3> Last Name *</h3>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <h3>Company Name *</h3>
    <%= f.text_field :company_name %>
  </p>

  <p>
    <h3>EMail *</h3>
    <%= f.text_field :email %>
  </p>
  <p>
	<h3>I am attending this event as a </h3>
	<%=f.select :type_of_attendee, ["Listener","Presenter"]%>
  </p>
<div id="one_line_abstract">
  <p>
   <h3> <%= f.label :one_line_abstract %> *</h3>
    <%= f.text_area :one_line_abstract %>
  </p>
</div>
  <p>
   <h3> Phone No:(optional)</h3>
    <%= f.text_field :phone_no %>
  </p>
  <p>
    <h3>How did you know about this event? *</h3>
    <%= f.select :mode_of_reach, ["thoughtworker.com", "Public posters", "Email", "Facebook/Twitter","Other Social Websites","Blogs","Friends"] %>
  </p>
  <p>
    <%= f.submit "Register" %>
  </p>
<% end %>
