<h1>Listing registrations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>One line abstract</th>
    <th>Phone no</th>
    <th>Mode of reach</th>
  </tr>

<% for registration in @registrations %>
  <tr>
    <td><%=h registration.name %></td>
    <td><%=h registration.last_name %></td>
    <td><%=h registration.email %></td>
    <td><%=h registration.one_line_abstract %></td>
    <td><%=h registration.phone_no %></td>
    <td><%=h registration.mode_of_reach %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New registration', new_registration_path %>
