<% form_for(@registration) do |f| %>
  <%= f.error_messages %>

  <p>
    <h3><%= f.label :name %></h3>
    <%= f.text_field :name %>
  </p>
  <p>
   <h3> <%= f.label :last_name %> </h3>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <h3> <%= f.label :email %> </h3>
    <%= f.text_field :email %>
  </p>
  <p>
   <h3> <%= f.label :one_line_abstract %></h3>
    <%= f.text_area :one_line_abstract %>
  </p>
  <p>
   <h3> <%= f.label :phone_no %></h3>
    <%= f.text_field :phone_no %>
  </p>
  <p>
    <h3><%= f.label :mode_of_reach %></h3>
    <%= f.text_field :mode_of_reach %>
  </p>
  <p>
    <%= f.submit "Register" %>
  </p>
<% end %>
